.question-editable{
    
}
.question-paper-header-main-container{
    width: 60%;
    background-color: blue;

}
.question-paper-header-title{
    font-size: xx-large;

}
.question-paper-header-description{

}
.question-edit-main-container{
    width: 60%;
}