.home-principal{
    padding-top: 70px; /*responsive*/
    padding-left: 220px; /*responsive*/
    width: 100%;
    
}


.eksaina-logo{
    font-family: 'Times New Roman',Times,serif;
    color: #000000;
    /* color : #F2DDCC; */
    letter-spacing: 6px;
    margin-left: 30px;
    font-size: 20px;
    width: 85%;
    /* background-color: ; */


}
#p123{
    color: red;
}



@media (max-width: 600px) {
    
}
@media (min-width : 601px) and (max-width: 768px) {
    
}